html {
  color: #15262E;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden; }

img {
  display: block;
  max-width: 100%; }

/*       BLEYTI text         */
.text__header_h1 {
  font-style: normal;
  font-weight: bold;
  display: block; }

.text__header {
  font-style: normal;
  font-weight: bold;
  display: block; }

.text__description {
  font-style: normal;
  font-weight: normal;
  color: #15262E;
  margin: 0; }

.text__header__digets {
  display: block;
  padding: 0px 8px;
  border-radius: 50%;
  background-color: #FDC12F; }

.text__size_16 {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 19px; }

.text__size_18 {
  font-size: 1.8rem;
  line-height: 21px; }

.text__size_24 {
  font-size: 24px;
  line-height: 150%; }

.text__size_36 {
  font-size: 3.6rem;
  line-height: 42px; }

.page__header {
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  background-color: #F8F8F9; }

.navbar-nav {
  padding-left: 20px; }

.nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  color: black !important;
  padding: 0 10px; }

.link__phone {
  color: #15262E;
  font-weight: bold; }
  .link__phone:hover {
    color: #15262E; }

.btn__phone {
  border: 0;
  border-radius: 20px;
  padding: 9px 14px !important;
  background: #FDC12F;
  color: #313131; }
  .btn__phone:hover {
    color: #fff; }

.btn:hover {
  color: #fff; }

.nav__adres p {
  font-size: 1.6rem;
  color: #15262E;
  line-height: 20px; }

.main__first {
  background-color: #F8F8F9; }
  .main__first .main__first_img {
    width: 100%;
    max-width: 100%; }

.carousel {
  min-height: 577.91px; }

.carousel-control-prev {
  left: -10%; }

.carousel-control-next {
  right: -10%; }

.btn {
  background: #F0612E;
  border-radius: 100px;
  padding: 6px 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  line-height: 150%;
  color: #fff; }

a {
  font-size: 1.8rem;
  line-height: 150%;
  /* identical to box height, or 27px */
  color: #000; }

a:hover {
  text-decoration: none;
  color: #fff; }

.navbar-brand img {
  width: 210px; }

.navbar-brand .svg__logo {
  width: 90px; }

.navbar-brand .svg__logo_des {
  width: 170px;
  padding-left: 10px; }

.main__second {
  padding: 60px 0 60px 0; }

.main__third {
  padding: 60px 0 60px 0;
  background-color: #F8F8F9; }
  .main__third h2 {
    color: #15262E;
    line-height: 130%; }
  .main__third h3 {
    color: #F0612E;
    font-weight: 900;
    font-size: 3.6rem;
    line-height: 42px; }

.number_anim {
  letter-spacing: 4px; }

.main__fouth {
  padding: 60px 0 60px 0; }
  .main__fouth .main__fouth_absolute {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); }
    @media (max-width: 981.98px) {
      .main__fouth .main__fouth_absolute {
        position: unset;
        transform: unset; } }
  .main__fouth .row {
    position: relative; }
    @media (max-width: 981.98px) {
      .main__fouth .row {
        text-align: left !important; }
        .main__fouth .row p {
          text-align: left !important;
          padding-bottom: 1rem;
          position: relative; }
          .main__fouth .row p:before {
            content: "";
            display: block;
            position: absolute;
            width: 10px;
            height: 10px;
            background-color: rgba(0, 0, 0, 0.8);
            top: 6px;
            left: -15px; } }

.main__fouth__content {
  position: relative; }

.main__fouth__content__deep {
  padding-bottom: 1.5rem !important;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%); }

.partners__item {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: all 0.5s;
  display: flex;
  justify-content: center; }
  .partners__item:hover {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    transition: all 0.5s; }

.main__fifth {
  padding: 60px 0 60px 0;
  background-color: #F8F8F9; }
  .main__fifth .main__fifth_content {
    font-size: 1.8rem;
    line-height: 150%;
    color: #000000; }
  .main__fifth .main__fifth_item {
    background-color: #fff;
    height: 100%; }

.main__sixth {
  padding: 60px 0 60px 0;
  position: relative; }
  .main__sixth .main__sixth_item_top {
    padding: 0px !important; }
    .main__sixth .main__sixth_item_top:nth-child(1) .text__description:before {
      content: "1"; }
    .main__sixth .main__sixth_item_top:nth-child(2) .text__description:before {
      content: "2"; }
    .main__sixth .main__sixth_item_top:nth-child(3) .text__description:before {
      content: "3"; }
    .main__sixth .main__sixth_item_top:nth-child(4) .text__description:before {
      content: "4"; }
    .main__sixth .main__sixth_item_top:nth-child(5) .text__description:before {
      content: "5"; }
    .main__sixth .main__sixth_item_top:nth-child(6) .text__description:before {
      content: "6"; }
  .main__sixth .text__description {
    margin-top: 2rem;
    width: 100%;
    border-top: 7px solid #C8C6D0;
    text-align: left !important;
    position: relative; }
    .main__sixth .text__description:before {
      content: "2";
      display: block;
      position: absolute;
      top: -18px;
      left: 0;
      width: 30px;
      height: 30px;
      border-radius: 100%;
      background-color: #F0612E;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.6rem;
      color: #fff;
      font-family: "Roboto"; }
    @media (max-width: 981.98px) {
      .main__sixth .text__description {
        width: auto;
        border: none; }
        .main__sixth .text__description:before {
          content: unset; } }

.main__seventh {
  padding: 60px 0 60px 0;
  background-color: #F8F8F9; }
  .main__seventh .text__description {
    font-family: Roboto;
    font-size: 1.6rem;
    line-height: 150%;
    color: #15262E; }

.main__seventh .container {
  position: relative; }

input {
  display: block;
  background: #fff;
  border-radius: 20px;
  padding: 10px 20px;
  border: 0;
  font-size: 1.8rem;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.07);
  border-radius: 100px; }

.main__seventh__absolute {
  position: absolute;
  right: -35%;
  top: -60px;
  display: none; }

@media (min-width: 1500px) {
  .main__seventh__absolute {
    display: block; } }

.checkbox {
  display: none; }

.checkbox__label {
  cursor: pointer;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: none;
  border: 1px solid #000;
  border-radius: 4px;
  margin-right: 6px;
  position: relative;
  padding: 2px; }

.checkbox:checked + .checkbox__label:before {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  content: "";
  background: url("../images/checked.svg") no-repeat; }

.form__info {
  color: #000;
  font-size: 1.4rem !important;
  font-weight: 400;
  text-align: left;
  line-height: 150%; }

.footer {
  padding: 60px 0 60px 0;
  background-color: #2F2F2F; }
  .footer img {
    width: 30px; }
  .footer span {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 1.8rem;
    line-height: 150%;
    color: #F0612E; }
  .footer p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF; }

svg .map__item {
  transition: fill 0.5s;
  fill: #F0612E; }
  svg .map__item:hover {
    fill: #fbe601;
    transition: fill 0.5s;
    cursor: pointer; }

#mouse__position {
  position: fixed;
  top: 10px;
  left: 10px;
  display: none;
  width: auto;
  height: auto;
  background-color: #f1f1f1;
  padding: 1rem 2rem;
  font-size: 1.4rem;
  font-weight: bold;
  border-radius: 10px; }
